@model KanColleSenkaRanking.ViewModels.PlayerViewModel
@{
    ViewBag.Keywords = string.Format(",{0},{1}", Model.Player.PlayerName, Model.Server.Name);
    ViewBag.Title = string.Format("{0} ({1}) - {2}", Model.Player.PlayerName, Model.Server.Name, MvcApplication.Name);
}
<div class="page-header row">
    <div class="col-lg-8 col-md-7">
        <h1>@Model.Player.PlayerName <br class="hidden-lg" /><small>@Model.Player.Comment</small></h1>
    </div>
    <div id="serverInfo" class="col-lg-4 col-md-5 move-right-md">
        <span class="h4" id="serverInfoName">@Model.Server.Name</span><br class="hidden-sm hidden-xs" />
        <span class="h4@(Model.RankingHtmlClass)">@(Model.Player.Ranking)位 <small>(@(Model.Player.RankPoint)戦果)</small></span><br class="hidden-sm hidden-xs" />
    </div>
    <div class="col-md-8">
        <h4>司令部Level. @Model.Player.Level <small>[@(Model.Player.RankName)]</small></h4>
    </div>
</div>
<!-- Activity -->
<h3 class="text-center col-md-12">アクティビティ</h3>
<table class="table table-bordered table-condensed">
    <thead class="panel-heading">
        <tr>
            <td>日付</td>
            <td>Lv.</td>
            <td>コメント</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.Activity) {
            <tr>
                <td>@data.Date.ToString()</td>
                <td>@data.Level</td>
                <td>@data.Comment</td>
            </tr>
        }
    </tbody>
</table>
<!-- Charts -->
<div id="chartArea">
    <div id='rankingChart'></div>
    <div id='rankPointDeltaChart'></div>
    <div id='rankPointChart'></div>
</div>
@section Scripts{
    <script>
        var PlayerCharts = [];
        var FootNote= '@string.Format("{0} ({1}) {2}", Model.Player.PlayerName, Model.Server.Name, Model.Server.LastUpdateTimeString)';
        var PlayerName = '@Model.Player.PlayerName';
        var rankLable = @Html.Raw(Model.JRankLable);
        var rankPointDeltaLable = @Html.Raw(Model.JRankPointDeltaLable);

        var rankPointData = @Html.Raw(Model.JRankPointData);
        var rankPointDeltaData = @Html.Raw(Model.JRankPointDeltaData);
        var rankingData = @Html.Raw(Model.JRankingData);
</script>
    @Scripts.Render("~/bundles/ichart")
    @Scripts.Render("~/bundles/player")
}
