@model IEnumerable<KanColleSenkaRanking.Models.DevStateData>
<!-- Develope State -->
<h2>開発状態</h2>
@*<table class="table table-condensed">
    <thead>
        <tr>
            <td>Type</td>
            <td>Name</td>
            <td>State</td>
            <td class="visible-lg">Start</td>
            <td class="visible-lg">End</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model) {
            <tr>
                <td class="@data.TypeText.HtmlClass">@data.TypeText.Value</td>
                <td>@data.Name</td>
                <td class="@data.StateText.HtmlClass">@data.StateText.Value</td>
                <td class="visible-lg">@data.StartDateString</td>
                <td class="visible-lg">@data.EndDateString</td>
            </tr>
        }
        <tr>
            <td colspan="5" class="text-center"><a class="btn btn-default btn-xs" href="/home/devtool">開発ツール＆フレームワーク</a></td>
        </tr>
    </tbody>
</table>*@
<h4>バグが多すぎ！(/・ω・)/ DBからちゃぶだい返し！</h4>
<p>戦果基地は今開発協力者が募集中です！</p>
<p>以下どちらのツールに専門内の方、開発に興味有るなら、是非メールにご連絡お願いします。</p>
<hr />
<p>Senka-Kichi is looking for co-developers!</p>
<p>If you're a professional in any tools below and interesting in developing, please contact us from the mail below.</p>
<hr />
<p>战果基地正在寻找一起开发的小伙伴！</p>
<p>如果你会下面任何一样工具而且想和我们一起开发的话，请联络我们。</p>
<hr />
<p>戰果基地正在尋找一起開發的好朋友！</p>
<p>如果你會下面任何一項工具而且想和我們一起開發的話，請聯絡我們。</p>
<hr />
<ul>
    <li>ASP.NET MVC5</li>
    <li>ORM (Entity Framework 6)</li>
    <li>MSSQL (SQL Server 2014)</li>
    <li>LINQ</li>
    <li>OAuth</li>
    <li>Bootstrap LESS</li>
    <li>AJAX</li>
    <li>Front-End Design</li>
</ul>
<p>Version Control：GitHub</p>
<a class="btn btn-default" href="mailto:admin@senka.me">Contact</a>
@*<a class="btn btn-default btn-xs" href="/home/devtool">開発ツール＆フレームワーク</a>*@
<!-- Develope End -->