@model KanColleSenkaRanking.ViewModels.ServerRankingViewModel
@{
    ViewBag.Title = string.Format("{0} (ランキング) - {1}", Model.Server.Name, MvcApplication.Name);
    ViewBag.Keywords = string.Format(",{0}", Model.Server.Name);
    ViewBag.Description = Model.Description;
    ViewBag.Server = Model.Server;
}
<div class="page-header">
    <h1>@Model.Server.Name <br class="visible-sm visible-xs" /><small>@Model.State</small></h1>
</div>
<table class="table table-bordered table-condensed table-hover">
    <thead class="panel-heading">
        <tr>
            <td>順位</td>
            <td>Lv.</td>
            <td>提督名</td>
            <td class="hidden-sm hidden-xs">階級</td>
            <td>コメント</td>
            <td>戦果</td>
            <td class="hidden-sm hidden-xs">勲章</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.RankingDataSet) {
            <tr id="rank@(data.Ranking)" class="clickable" data-href="/player/@data.PlayerID">
                <td>@(data.Ranking)位 <span class="@data.RankingDelta.HtmlClass">@data.RankingDelta.Value</span></td>
                <td>@data.Level</td>
                <td>@data.PlayerName</td>
                <td class="hidden-sm hidden-xs">@data.RankName</td>
                <td>@data.Comment</td>
                <td>@data.RankPoint <span class="@data.RankPointDelta.HtmlClass">@data.RankPointDelta.Value</span></td>
                @if (data.Medals == 1) {
                    <td class="hidden-sm hidden-xs">甲</td>
                } else if (data.Medals > 1) {
                    <td class="hidden-sm hidden-xs">甲<sub class="font-bold">@data.Medals</sub></td>
                } else {
                    <td class="hidden-sm hidden-xs"></td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Model.IsDefaultListing && Model.Server.Enabled) {
    <a class="btn btn-default btn-xs" href="?lm=990#rank99">1-990位</a>
}

